body{
	background-color: #FFE6E6FA;
	color: black;
	font-family: helvectica;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 1px;
	padding-left: 15px;

}	
img{
	width: 100;
	height:150;
}

h1{
	color: pink;
	font-family: times, serif;
	font-size: 30px;
	font-weight: 70px;

} 

h2, h3, h4{
	color: black;
	font-family: lora, sans serif;
	font-size: 20px;
	font-weight: 50px;
}

a{
	font-size: 15px;
	text-decoration: none;
	color: black;

}
a:hover {
	color: pink;
}

div{
	background: white;
	border: 2px solid black;
	margin: 10px;
}

.sidebar ul {
  list-style: none;
  padding-left: 15px;
  font-family: helvetica;
  font-size: 14px;
  font-weight: lighter;
}

.text-center {
  text-align: center;
}